h1 {
    background-color: rgb(118, 99, 187);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
}

body{background-color: rgb(175, 101, 101);
    text-align: center;

}

p{font-size: 20px;


}